body{
    margin: 0;
    padding: 0;
}
nav{
    height: 80px;
    width: 100%;
    color: orangered;
}
ul li a{
    color: white;
}
header{
    height: 430px;
    width: 100%;
    list-style: none;
    text-decoration: none;
    align-items: center;
}